@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --blue1: #060c11;
    --blue2: #091219;
    --blue3: #0c1821;
    --blue4: #101d29;
    --blue5: #142131;
    --blue6: #182639;
    --blue7: #1b2a41;
    --blue8: #213249;
    --blue9: #273a50;
}

body {
    background: var(--blue1);
}


html {
    font-size: 15px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.background {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    z-index: -10;
    left: 0;
}

.fourofour-background {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    z-index: -2;
    left: 0;
}

.fourofour-div {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.logo {
    width: 10vw;
    position: absolute;
    top: 1vh;
    left: 1vw;
    opacity: .5;
    transition: 200ms ease-in-out;
}
.logo:hover {
    transition: 200ms ease-in-out;
    width: 10.5vw;
    opacity: 1;
    top: .75vh;
    left: .75vw;
}

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.header {
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    font-size: 1vw;
}

.link {
    color: #ffffff80;
    margin: .3vw 1vw;
    background: none;
    font-size: 15px;
    border-style: none;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.link:hover, .linkhover {
    transform: scale(1.05);
    color: #ffffff;
}

.nieuws-container {
    display: flex;
    flex-direction: column;
}

.nieuws-header {
    width: 90vw;
    background: var(--blue2);
    border-radius: 2.5vh;
    margin: 2.5vw;
    padding: 2.5vw;
}

.nieuws-header p {
    font-size: 15px;
}

.nieuws-title {
    font-size: 20px;
    margin: 0;
}

.nieuws-button {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #ffffff80;
    text-decoration-color: var(--blue4);
    transition: 200ms ease-in-out;
}
.nieuws-button:hover {
    transition: 200ms ease-in-out;
    text-decoration-color: #0000ff;
    color: #ffffff;
}
.nieuws-terug {
    font-size: 20px;
    pointer-events: all;
}
.nieuws-header p span, .nieuws-header h1 span {
    background: var(--blue4);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.nieuws-header p a {
    color: #0000ff;
    pointer-events: all;
    cursor: pointer;
}

.contact-link {
    cursor: pointer;
    pointer-events: all;
}

.info-container {
    background: var(--blue2);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75);
    margin: 2.5vw;
    padding: 2.5vw;
    width: 90vw;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
}
.info-text p {
    margin-left: 1vw;
}
.info-title {
    text-align: center;
    font-size: 30px;
}
.info-title::after {
    content: '';
    width: 300px;
    display: block;
    height: 3px;
    margin: 15px auto 10px auto;
    justify-self: center;
    background: #0000ff;
}

.dropdown-menu {
    overflow: hidden;
    z-index: 3;
    position: absolute;
    opacity: 0;
    transform: translateY(-100px);
    pointer-events: none;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    background: var(--blue3);
    border-radius: 1vh;
    border: 1px solid grey;
}

.Information-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

.Information-grid {
    grid-column-gap: 0px;
    display: flex;
    justify-content: space-between;
}

.dropdown-heading {
    border-bottom: 1px solid #808080;
    background: linear-gradient(0deg, rgba(42,26,40,1) 0%, rgba(38,26,50,1) 100%); 
    background: var(--blue4);
    padding: .3vw 1vw;
    font-size: 20px;
}

.dropdown-links {
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background: var(--blue3);
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.small-spacer {
    z-index: -9;
    height: 10vh;
    width: 0;
}
.spacer {
    z-index: -9;
    height: 50vh;
    width: 0;
}
.big-spacer {
    z-index: -9;
    height: 75vh;
    width: 0;
}

.transition-fade {
    top: 0;
    left: 0;
    margin: 0;
    position: absolute;
    z-index: -5;
    opacity: 1;
    transform: translatex(0);
    transition: 200ms ease-in-out;
}

html.is-animating .transition-fade {
    transform: translatex(10vw);
    opacity: 0;
    pointer-events: none;
}

html.swup-enebled {
    min-width: 0;
}

.main-title {
    margin: 0;
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-size: 10vh;
    z-index: -1;
}

.main-title span {
    font-size: 10vh;
}

.BUnderline {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: blue;
}

.arrowdown {
    animation: bounce 4s 2s ease-in-out infinite;
    font-size: 10vh;
    margin: 0;
}

form {
    padding: 5vw;
    margin: 5vw;
    width: 80vw;
    background: var(--blue2);
    border-radius: 2vw;
    pointer-events: all;
    
}

.grey {
    color: #444444;
}

form button {
    font-size: 1rem;
    list-style-type:none;
    background: var(--blue3);
    padding: .5vw;
    margin: 2vw .5vw;
    width: auto;
}
form button:hover {
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75);
    border-color: #ff8000;
}

form h1 {
    margin: 3vw 1vw 0;
    flex: auto;
}

form div input, form button, form textarea {
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75) inset;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: .5vw;
    border-radius: 5px;
    display: list-item;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #0000ff;
    background: var(--blue3);
    color: rgb(255, 255, 255);
    outline: 0;
    transition: ease-in-out 500ms;
}

form textarea {
    width: 100%;
}

form div h1 > input:focus, form > textarea:focus {
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.75);
    transition: ease-in-out 500ms;
    border-color: #ff8000;
}
form div h1 input {
    width: 100%;
}

.download-list {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 5vw;
    list-style-type:none;
}

.download-list a i{
    font-size: 1rem;
}

.download-list a {
    border-radius: 5px;
    line-height: 10vh;
    font-size: 1vw;
    background: var(--blue2);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75) inset;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: #024C97;
    margin: 1vw;
    padding: 1vw;
    cursor: pointer;
    pointer-events: all;
    border-radius: 5px;
    transition: 500ms ease-in-out;
}
.download-list a:hover {
    transition: 500ms ease-in-out;
    border-color: #ff8000;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75);
}

.download-list a img {
    border-radius: .5vw;
    transition: 1000ms ease-in-out;
    margin: 1vw;
    width: 5vw;
    float: left;
}

.download-list a img:hover {
    width: 793px;
}

.transition {
    width: 100vw;
    z-index: 10;
}

.cta {
    top: 50vh;
    right: 10vw;
    font-size: 40px;
    position: absolute;
    pointer-events: all;
    cursor: pointer;    
    text-decoration-thickness: 5px;
}

/*
#footer {
    bottom: 0;
    background: red;
    position: absolute;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
    width: 93vw;
    margin: 2vw;
    margin-bottom: 0;
    padding: 1vw;
    text-align: center;
    display: block;
}*/

.vandaag {
    text-align: center;
    color: #ff0000;
    border-radius: 2.5vh;
}

hr {
    width: 100vw;
    color: #ff0000;
}

@media screen and (min-width: 801px) {
    form div {
        display: flex;
        justify-content: center;
    } 
    form div h1 {
        width: auto;
    }
    form div > *:nth-child(1) {
        margin-left: 0;
    }
    form div > :nth-child(3) {
        margin-right: 0;
    }
    .dropdown:hover > .link + .dropdown-menu {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 800px) {
    body {
        background-size: cover;
    }
    .Information-grid {
        flex-direction: column;
        gap: 2rem;
    }
    .main-title, .main-title span, .RhenenLink, .main-title p, .fa-map-marker-alt{
        top: 10vw;
        left: 5vw;
        font-size: 10vw;
    }
    .logo {
        display: none;
    }
    .team-text, .team-text span {
        font-size: 2.5vw;
    }
    .link {
        font-size: 3.5vw;
    }
    form input, form textarea, form button, form textarea {
        width: 100%;
    }
    .intro-container {
        margin: 5vw;
        padding: 5vw;
        width: 80vw;
    }
    .intro-text {
        text-align: center;
    }
    .intro-title {
        text-align: center;
    }
    .intro-title::after {
        width: 50vw;
    }
    .main-title {
        margin: 0;
        position: absolute;
        top: 10vh;
    }
    .team-text-title {
        font-size: 8vw;
        padding: 5vw;
    }
    
    .team-text, .team-text span, .team-text a{
        border-radius: 5px;
        right: 0;
        font-size: 5vw;
        margin: 1vw;
    }
    .team-foto {
        box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.75);
        border-radius: 2vw;
        width: 90vw;
        float: left;
        margin: 2.5vw;
    }
    .dropdown.active > .link {
        color: white;
    }
    
    .dropdown.active > .link + .dropdown-menu {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }
    .cta {
        font-size: 10vw;
        left: 35vw;
        top: 55vh;
    }
    .Contributie {
        width: 70vw;
    }
    .nieuws-header p, .nieuws-header h1 {
        text-align: center;
    }
}




@keyframes bounce {
    0% {
        transform: translatey(0);
    }
    20% {
        transform: translatey(1vw);
    }
    40% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(0);
    }
}